{% extends "base.html" %} {% block title%}Add a Ride{% endblock %}
{% block content%}
<!--<br />
<h1 align="center">Add a New Ride</h1>
<br />
<form method="POST">
    <h2>Ticket Title</h2>
    <input name="post_title" id="post_title" class="form-control" placeholder="Enter Ticket Title">
    <br />

    <h2> Leaving or Arriving to Campus </h2>
    <select name="to_or_from">
      <option value = "Leaving Campus"> Leaving Campus </option>
      <option value = "Entering Campus"> Entering Campus </option>
    </select>

    <h2>Date & Time</h2>
    <input type = "datetime-local" name="date" id="post_date" class="form-control" >

    <h2> Destination </h2>
    <input name="destination" id="post_destination" class="form-control" placeholder="Enter Ride Destination">

    <h2> Number of Seats </h2>
    <input type = "number" name="seat_number" id="post_seatnum" class="form-control" value = "1" min = "1" max = "10">

    <h2>Description</h2>
    <textarea type="text" name="post_description" id="post_description" class="form-control" placeholder="Enter Description"></textarea>

    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Ride</button>
    </div>
</form>-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            br />
            <h1 align="center">Add a New Ride</h1>
            <br />
            <form method="POST">
                <h2>Ticket Title</h2>
                <input name="post_title" id="post_title" class="form-control" placeholder="Enter Ticket Title">
                <br />
            
                <h2> Leaving or Arriving to Campus </h2>
                <select name="to_or_from">
                  <option value = "Leaving Campus"> Leaving Campus </option>
                  <option value = "Entering Campus"> Entering Campus </option>
                </select>
            
                <h2>Date & Time</h2>
                <input type = "datetime-local" name="date" id="post_date" class="form-control" >
            
                <h2> Destination </h2>
                <input name="destination" id="post_destination" class="form-control" placeholder="Enter Ride Destination">
            
                <h2> Number of Seats </h2>
                <input type = "number" name="seat_number" id="post_seatnum" class="form-control" value = "1" min = "1" max = "10">
            
                <h2>Description</h2>
                <textarea type="text" name="post_description" id="post_description" class="form-control" placeholder="Enter Description"></textarea>
            
                <br />
                <div align="center">
                    <button type="submit" class="btn btn-primary">Add Ride</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

