{% extends "base.html" %} {% block title%}Add a Ride{% endblock %}
{% block content%}
<br />
<h1 align="center">Add a New Ride</h1>
<br />
<form method="POST">
    <h2>Ticket Title</h2>
    <input name="post_title" id="post_title" class="form-control" placeholder="Enter Ticket Title"></input>
    <br />
    <h2>Description</h2>
    <textarea type="text" name="post_description" id="post_description" class="form-control" placeholder="Enter Description"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Ride</button>
    </div>
</form>
{% endblock %}