{% extends "base.html" %} {% block title%}Rides{% endblock %} {% block content%}
<br />
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add Ride(temp)
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Ticket</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1 align="center">Add a New Ride</h1>
        <br />
        <form method="POST">
          <h2>Ticket Title</h2>
          <input
            name="post_title"
            id="post_title"
            class="form-control"
            placeholder="Enter Ticket Title"
          />
          <br />

          <h2>Leaving or Arriving to Campus</h2>
          <select name="to_or_from">
            <option value="Leaving Campus">Leaving Campus</option>
            <option value="Entering Campus">Entering Campus</option>
          </select>

          <h2>Date & Time</h2>
          <input
            type="datetime-local"
            name="date"
            id="post_date"
            class="form-control"
          />

          <h2>Destination</h2>
          <input
            name="destination"
            id="post_destination"
            class="form-control"
            placeholder="Enter Ride Destination"
          />

          <h2>Number of Seats</h2>
          <input
            type="number"
            name="seat_number"
            id="post_seatnum"
            class="form-control"
            value="1"
            min="1"
            max="10"
          />

          <h2>Description</h2>
          <textarea
            type="text"
            name="post_description"
            id="post_description"
            class="form-control"
            placeholder="Enter Description"
          ></textarea>

          <br />
          <!--<div align="center">
                  <button type="submit" class="btn btn-primary">Add Ride</button>
              </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add Ride</button>
      </div>
    </div>
  </div>
</div>

<h1 align="center">Rides</h1>
{% for user in data.session.query(User) %} {% for post in user.posts %}

<br />
<div class="card">
  <div class="card-header">
    <div class="row fs-5">
      <div class="col">{{ post.title }}</div>
      <div class="col" align="end">
        {% if user.id == current_user.id %}
        <a href="/delete/{{post.id}}" class="btn btn-outline-danger btn-sm"
          >Delete</a
        >
        <a href="/update/{{post.id}}" class="btn btn-outline-secondary btn-sm"
          >Update</a
        >
        {% endif %}
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">{{ post.extra_info }}</div>
    </div>
  </div>
  <div class="card-body container fs-5">
    <div class="row">
      <div class="col-2">{{ post.date_of_departure.strftime("%m-%d-%Y") }}</div>
      <div class="col-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="currentColor"
          class="bi bi-geo-alt"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
          />
          <path
            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
        </svg>
        Departing from:
      </div>
      <div class="col">User: {{ user.first_name }}</div>
      <div class="col">Seats available: {{ post.seats_available }}</div>
    </div>
    <div class="row">
      <div class="col-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 16 16"
        ></svg>
      </div>
      <div class="col-5 fw-lighter ml-4">{{ post.depart_from }}</div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-2">{{ post.time_of_departure.strftime("%I:%M %p") }}</div>
      <div class="col-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="currentColor"
          class="bi bi-geo-alt"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
          />
          <path
            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
        </svg>
        Arriving at:
      </div>
      <div class="col">Cost per seat: ${{ post.seat_cost }}</div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5 fw-lighter ml-4">{{ post.arrive_to }}</div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row fs-5">
      <div class="col fw-light">Contact info: {{ user.email }}</div>
      <div class="col" align="end">
        <button
          class="btn btn-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#a{{post.id}}"
          aria-expanded="false"
          aria-controls="a{{post.id}}"
        >
          More Information
        </button>
      </div>
      <div class="col-2" align="end">
        <button class="btn btn-primary" type="button">Reserve a Seat</button>
      </div>
    </div>
    <div class="collapse" id="a{{post.id}}">
      <div class="card card-body">{{ post.extra_info }}</div>
    </div>
  </div>
</div>
{% endfor %} {% endfor %}
<br />
{% endblock %}
